<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-light bg-primary justify-content-between">
    <div class="container">
      <a class="navbar-brand text-light" href="/">Feedback App</a>
      <ul class="nav navbar-nav flex-row float-right">
        {% if session['username'] %}
        <!-- Showing user's username at the top by using session.  We could do this even if username wasn't our primary key.
        We would just add the user's number ID and their username to session at login or sign up -->
        <li class="nav-item">
          <a class="nav-link disabled pr-3 text-light">{{session['username']}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-3 text-light" href="/secret">View secret</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
        </li>        
        {% else %}
        <li class="nav-item">
          <a class="nav-link pr-3 text-light" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/register">Sign up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
    <div class="mt-4 alert alert-{{cat}}">{{msg}}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>